.parking-spot {
    text-align: center;
}

.vehicle {
    height: 5em;
    padding-bottom: 7px;
    padding-top: 7px;
}

.vehicle:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.no-vehicle{
    height: 5em;
    text-align: center;
}


.checkBox .slds-form-element__control{
    display: -webkit-box;
    display: flex;
}

.CheckBox{
    padding-left: 20px;;
    padding-bottom: 20px;
    padding-top: 10px;
}

.summary{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.full__c{
    width: 1000px;
    height: 20px;
    padding-left: 5px;
}

.h1{
    font-weight: bold;
}

.tooltip{
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext{
    display: auto;
    visibility: hidden;
    width: 126px;
    text-align: left;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s;
    background-color: #0176D3;
    color: #fff;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.checkBoxFalse{
    color: darkred;
}